@model IEnumerable<Garage3._0.Models.ViewModels.MemberViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>members index</h2>

<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Surname</th>
            <th>Social Security Number</th>
            <th>Vehicle Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Model)
        {
            <tr>
                <td>@member.FirstName</td>
                <td>@member.Surname</td>
                <td>@member.SocialSecurityNr</td>
                <td>@member.VehicleCount</td>
            </tr>
        }
    </tbody>
</table>