.hoverable-row:hover {
    background-color: #e8f5e9; /* A light green hover color */
}

tr[aria-expanded="true"] {
    background-color: #d4edda !important;
}

tr[aria-expanded="false"] {
    background-color: white;
}

