@model List<Member>
@{
    ViewData["Title"] = "Home Page";
}

<table border="1">
    <thead>
        <tr>
            <th>Member</th>
            <th>Vehicle Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Firstname @item.Surname</td>
                <td>@item.VehicleList.Count()</td>
            </tr>
        }
    </tbody>
</table>
