@model List<Member>
@{
    ViewData["Title"] = "Home Page";
}

<table border="1">
    <thead>
        <tr>
            <th>Member</th>
            <th>Member Id</th>
            <th>Vehicle List</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Firstname @item.Surname</td>
                <td>@item.MemberId</td>
                <td>@string.Join(", ", item.VehicleList.Select(v => $"{v.LicencePlate} - {v.VehicleId}"))</td>
            </tr>
        }
    </tbody>
</table>
