@model IEnumerable<Member>
@{
	ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead>
        <tr>
            <th>Owner</th>
            <th>License Plate</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Model)
        {
            bool isFirstVehicle = true; 
            foreach (var vehicle in member.VehicleList)
            {
                <tr>
                    @if (isFirstVehicle)
                    {
                        <td rowspan="@member.VehicleList.Count">@member.Firstname @member.Surname</td>
                        isFirstVehicle = false; 
                    }
                    <td>@vehicle.LicencePlate</td>
                    <td>
                        @if (vehicle.ParkingEvent == null)
                        {
                            using (Html.BeginForm("Login", "Register", new { id = vehicle.VehicleId }, FormMethod.Post))
                            {
                                <button type="submit" class="btn btn-success">Login</button>
                            }
                        }
                        else
                        {
                            using (Html.BeginForm("Logout", "Register", new { id = vehicle.VehicleId }, FormMethod.Post))
                            {
                                <button type="submit" class="btn btn-danger">Logout</button>
                            }
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>


